<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registraion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<!--<form action="#" th:action="@{/registration}" th:object="${user}" method="post" >-->
    <!--<input th:field="*{login}" type="text" placeholder="Login" required>-->
    <!--<input th:field="*{password}" type="password" placeholder="Password" required>-->
    <!--<input th:field="*{first_name}" name="firstName" placeholder="First Name">-->
    <!--<input th:field="*{last_name}" name="lasttName" placeholder="Last Name">-->
    <!--<input th:field="*{sex}" name="sex" class="form-control" placeholder="Sex">-->
    <!--<input th:field="*{age}" name="age" class="form-control" placeholder="Age">-->
    <!--<input th:field="*{photo}" name="photoURL" class="form-control" placeholder="Photo">-->
    <!--<button type="submit" value="Submit">registration</button>-->
<!--</form>-->
<!--<div th:text="${notAllow}"></div>-->
<div class="container login-form">
    <div class="login-form_container">
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Login</label>
                    <input th:field="*{login}" type="text" class="form-control" placeholder="Login" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input th:field="*{password}" type="password" class="form-control" id="inputPassword4" placeholder="Password" required>
                </div>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input th:field="*{first_name}" name="firstName" type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input th:field="*{last_name}" name="lasttName" type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Photo</label>
                    <input th:field="*{photo}" name="photoURL" type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Sex</label>
                    <select th:field="*{sex}" name="sex" type="text" class="form-control">
                        <div>
                        <option th:value="man" selected>man</option>
                        <option th:value="woman">woman</option>
                        </div>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label>Age</label>
                    <input th:field="*{age}" name="age" type="text" class="form-control">
                </div>
            </div>
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
        <div th:text="${notAllow}"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>